header {
  width: 100%;
  padding: 0.5rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  font-size: 1.1rem;
  letter-spacing: 0.4px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  color: #4c4c4c;
}

header button {
  display: flex;
  gap: 0.3em;
  align-items: center;
}

.sun {
  width: 20px;
  color: var(--dark);
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.2em;
}
.profile {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media (max-width: 600px) {
  header {
    padding: 0.8rem 2rem;
  }
}
